doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/Style.css')
  script(src='../static/Project.js')
  title Menu
.bg-image
  img(src='https://gymbeam.com/blog/wp-content/uploads/2021/06/featured-41.png' alt='')
.header
  h1
    | ? &#x5D0;&#x5D9;&#x5D6;&#x5D4; &#x5EA;&#x5E8;&#x5D2;&#x5D9;&#x5DC; &#x5DE;&#x5E2;&#x5E0;&#x5D9;&#x5D9;&#x5DF; &#x5D0;&#x5D5;&#x5EA;&#x5DA;
#Push-ups.bar
  a(href='/#{menuhref}')
    button.button.skillName #{skillName}
#pull-ups.bar
  a(href='/#{menuhref}')
    button.button.skillName #{skillName}
#dips.bar
  a(href='/#{menuhref}')
    button.button.skillName #{skillName}

.Home-Page.return
  a(href='/#{yourLevel}')
    button#YL.smallbutton Your-level 
